body {
  background: lightgold;
  font-family:Arial, Helevtica, sans-serif;
}

h1 {
  color: darkgreen;
  text-algin:center;
}
.assign {
  background-color: lightgreen;
  margin: 10px;
  padding: 10px;
  display: flex;
}
.assign img {
  width: 200px;
  padding: 10px;
}
