body {
  background: lightgold;
  font-family:Arial, Helevtica, sans-serif;
}

h1 {
  color: lightgrey;
  text-algin:center;
}
.assign {
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
  display: flex;
}
.assign img {
  width: 200px;
  margin: 10px;
  border: 2px solid midnightblue; /* try dashed, dotted */
}
a:hover {
  text-decoration: none; /* remove underlining on anchor tags */
  color: lightgold; /* pick the color you want */ 
}
